<%= form_for @provider do |f| %>

  <% if @provider.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@provider.errors.count, "error") %>
     prohibited this provider from being saved:</h2>
     <ul>
     <% @provider.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
  <% end %>

  <p><%= f.text_field :name, placeholder: 'Name' %></p>
  <p><%= f.text_field :kind, placeholder: 'Kind' %></p>

  <%= f.fields_for :locations do |loc| %>
    <%= loc.text_field :address, placeholder: 'Address' %>
  <% end %>

  <p><%= f.submit 'Save' %></p>
<% end %>
