<li><strong>Name:</strong> <%= @provider.name %></li>
<li><strong>Kind:</strong> <%= link_to @provider.kind, @provider.kind %></li>
<li><strong>Location:</strong>
  <% @provider.locations.each do |loc| %>
    <%= link_to loc.address, locations_path + "/#{loc.id.to_s}" %>
  <% end %>
</li>

<%= link_to "Edit Provider", edit_provider_path(@provider) %>

<%= link_to "Delete Provider", @provider, method: :delete,
     data: { confirm: "Are you sure you want to delete this provider?" } %>

<%= link_to "List of Providers", providers_path %>
