<!DOCTYPE html>
<html>
<head>
  <title>Healthgeo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to "All Locations", locations_path %>
    <%= link_to "All Providers", providers_path %>
    <%= link_to "All Symptoms", symptoms_path %>
  </nav>

<%= yield %>

</body>
</html>
